
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<form method="post" >
    <div class="form-group">
        <label>Nombre</label>
        <input id="txtName" type="text" name="Nombre" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input id="txtPass" type="password" name="Password" />
    </div>
    <button class="btn btn-success"  type="submit">Login</button>

</form>
