<div style="padding-top : 5%" align="center">
    <form action="/home/create" method="post">
        <div>
            <label>ID</label>
            <input type="text" name="CustomerID" />
        </div>

        <div>
            <label>Name</label>
            <input type="text" name="ContactName" />
        </div>

        <div>
            <label>Title</label>
            <input type="text" name="ContactTitle" />
        </div>

        <div>
            <label>Company</label>
            <input type="text" name="CompanyName" />
        </div>

        <div>
            <label>Address</label>
            <input type="text" name="Address" />
        </div>

        <div>
            <label>City</label>
            <input type="text" name="City" />
        </div>

        <div>
            <label>Region</label>
            <input type="text" name="Region" />
        </div>

        <div>
            <label>PostalCode</label>
            <input type="text" name="PostalCode" />
        </div>

        <div>
            <label>Country</label>
            <input type="text" name="Country" />
        </div>

        <div>
            <label>Phone</label>
            <input type="text" name="Phone" />
        </div>

        <div>
            <label>Fax</label>
            <input type="text" name="Fax" />
        </div>

        <button type="submit">Submit</button>
    </form>
</div>